<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_id</key>
	<string>ffdae8ac</string>
	<key>app_key</key>
	<string>2a34796a49a8c99a7df1ddb6608f3ab1</string>
</dict>
</plist>
